[Unit]
Description=USB/IP Device %I
Requires=usbipd.service
After=usbipd.service

[Service]
EnvironmentFile=/etc/usbip-devices/%i.conf
ExecStart=/usr/sbin/configure-usbip-device %i
ExecStop=/usr/sbin/remove-usbip-device %i
Restart=on-failure

[Install]
WantedBy=multi-user.target
